.layout {
  display: flex;
  flex-flow: column;
  height: 100%;

  &_content-container {
    height: auto;
    padding: 1rem;
  }

  &_page {
    display: flex;
    max-height: 100%;
    flex: 1 1 auto;
  }
}
