<button
  *ngIf="authService.authDataSource.authContinuous$ | async; else noAuthButton"
  [matMenuTriggerFor]="matMenu"
  mat-button
  type="button"
>
  <mat-icon>person</mat-icon>
  {{ authService.authDataSource.displayTextBS$ | async }}
</button>

<ng-template #noAuthButton>
  <button
    [matMenuTriggerFor]="matMenu"
    mat-icon-button
    type="button"
  >
    <mat-icon>person</mat-icon>
  </button>
</ng-template>

<mat-menu #matMenu="matMenu">
  <button
    (click)="authService.openModal()"
    [class.hidden]="(authService.authDataSource.authContinuous$ | async)"
    mat-menu-item
  >
    <mat-icon>vpn_key</mat-icon>
    <span>Войти</span>
  </button>
  <button
    (click)="authService.openModal()"
    mat-menu-item
  >
    <mat-icon>person_add</mat-icon>
    <span>Регистрация</span>
  </button>
  <button
    (click)="authService.logout()"
    [class.hidden]="!(authService.authDataSource.authContinuous$ | async)"
    mat-menu-item
  >
    <mat-icon>exit_to_app</mat-icon>
    <span>Выйти</span>
  </button>
</mat-menu>
