@import "../../node_modules/@angular/material/theming";

@import "../color-folder/color-mixin";

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dark-theme);
