@import "../common-style/variables";
@import "./block";

:host {
  @include block();

  // b stands for block
  // c stands for columns
  &.b--c {
    flex-direction: row;
  }

  // i stands for interactive
  &.b--i {
    @include block-interactive();

    // f stands for focused
    &.b--f {
      @include block-focus();
    }
  }

  // ns stands for no-shadow
  &.b--ns {
    box-shadow: none;
  }

  // r stands for readable
  &.b--r {
    max-width: 36rem;
  }

  :host-context > & {
    height: fit-content;
  }
}
