<table
  [dataSource]="dataSource | getDataListContinuous$Pure"
  [trackBy]="dataSource.trackByFunc"
  mat-table
>
  <ng-container
    *ngFor="let columnCode of dataSource | getColumnCodeListContinuous$Pure | async"
    [matColumnDef]="columnCode"
  >
    <th
      *matHeaderCellDef
      mat-header-cell
    >
      <app-dynamic-container
        [componentType]="dataSource.headerCellComponentType"
        [input]="{columnDescription: columnCode, dataSource: dataSource}"
      ></app-dynamic-container>
    </th>
    <td
      *matCellDef="let dataObject"
      mat-cell
    >
      <app-dynamic-container
        [componentType]="dataSource.cellComponentType"
        [input]="{columnDescription: columnCode, dataObject: dataObject, dataSource: dataSource}"
      ></app-dynamic-container>
  </ng-container>

  <tr
    *matHeaderRowDef="dataSource | getColumnCodeListContinuous$Pure | async"
    mat-header-row
  ></tr>
  <tr
    *matRowDef="let dataObject; columns: dataSource | getColumnCodeListContinuous$Pure | async;"
    mat-row
  ></tr>
</table>
