$color-black: #000;
$color-bottom: lightslategray;
$color-danger: brown;
$color-invisible: #eff;
$color-main: teal;
$color-success: #28a745;
$color-top: #87ceeb;
$color-warning: orange;
$color-white: #fff;

$font-size: 18pt;

$margin: 1rem;

$shadow-size: .2rem;
$shadow-size-2: $shadow-size*2;
$shadow-size-4: $shadow-size*4;
$shadow-offset: $shadow-size/10;
$shadow-offset-2: $shadow-size-2/10;
$shadow-offset-4: $shadow-size-4/10;
