@import "./variables/colors";

$font-size: 18pt;

$margin: 1rem;

$shadow-size: .2rem;
$shadow-size-bigger-1: $shadow-size*2;
$shadow-size-bigger-2: $shadow-size*6;
$shadow-offset: $shadow-size/10;
$shadow-offset-bigger-1: $shadow-size-bigger-1/10;
$shadow-offset-bigger-2: $shadow-size-bigger-2/10;
