@import '../../node_modules/@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$accent-palette: mat-palette($mat-orange) !default;
$primary-palette: mat-palette($mat-teal) !default;
// The warn palette is optional (defaults to red).
$warn-palette: mat-palette($mat-red) !default;

$success-palette: mat-palette($mat-teal) !default;

$dark-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);
$light-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
