<mat-nav-list>
  <div
    *ngFor="let routeData of routeDataList"
    [ngClass]="routerLink.isActive ? 'active' : ''"
  >
    <a
      #routerLink="routerLinkActive"
      [routerLink]="routeData.route"
      mat-list-item
      routerLinkActive="active"
    >
      <ng-container
        *ngIf="routeData.langKey"
      >
        <mat-icon aria-label="Navigation route icon">{{ routeData.iconKey }}
        </mat-icon>
      </ng-container>

      <ng-container
        *ngIf="routeData.langKey"
      >
        <app-route-translation
          [langKey]="routeData.langKey"
        ></app-route-translation>
      </ng-container>
    </a>

    <div
      *ngIf="routeData.childRouteList"
      class="route-list"
    >
      <app-route-list
        [routeDataList]="routeData.childRouteList"
      ></app-route-list>
    </div>
  </div>
</mat-nav-list>
