<form
  [formGroup]="(form$ | async).formGroup"
>
  <ng-container
    *ngFor="let formField of (form$ | async).formFieldList"
  >
    <mat-form-field
      style="width: 100%"
    >
      <mat-label>
        <app-form-field-label-translation
          [langKey]="formField.langKey"
        ></app-form-field-label-translation>
      </mat-label>
      <input
        [formControlName]="formField.fieldNumber"
        matInput
      >
      <mat-error>{{1}}</mat-error>
    </mat-form-field>
  </ng-container>
</form>
