<!--<mat-form-field>-->
  <!--<input-->
    <!--[formControl]="searchString"-->
    <!--[matAutocomplete]="auto"-->
    <!--aria-label="Number"-->
    <!--matInput-->
    <!--placeholder="Pick one"-->
    <!--type="text"-->
  <!--&gt;-->
  <!--<mat-autocomplete-->
    <!--#auto="matAutocomplete"-->
    <!--autoActiveFirstOption-->
  <!--&gt;-->
    <!--<app-route-list-recursive-->
      <!--[routeDataList]="routeDataList"-->
      <!--[searchRegExp$]="searchRegExp$"-->
    <!--&gt;</app-route-list-recursive>-->
  <!--</mat-autocomplete>-->
<!--</mat-form-field>-->

<mat-form-field style="width: 100%;">
  <input
    [formControl]="searchString"
    matInput
  >
</mat-form-field>

<app-route-list-recursive
  [routeDataList]="routeDataList"
  [searchRegExp$]="searchRegExp$"
></app-route-list-recursive>
