<h2 mat-dialog-title>Аутентификация</h2>

<div mat-dialog-content>
  <form [formGroup]="credentialsDataSource.formGroup">
    <mat-form-field
      *ngFor="let fieldData of credentialsDataSource.formFieldDataList"
      class="w-100"
    >
      <input
        [formControlName]="fieldData.fieldName"
        [placeholder]="fieldData.label"
        [type]="fieldData.type"
        matInput
      >
    </mat-form-field>
  </form>
</div>

<div
  mat-dialog-actions
>
  <button
    (click)="loginButtonClickEvent.emit()"
    [class.hidden]="(authDataSource.authContinuous$ | async)"
    mat-button
  >
    <mat-icon>vpn_key</mat-icon>
    Войти
  </button>

  <button
    (click)="logoutButtonClickEvent.emit()"
    [class.hidden]="!(authDataSource.authContinuous$ | async)"
    mat-button
  >
    <mat-icon>exit_to_app</mat-icon>
    Выйти
  </button>

  <button
    mat-button
  >
    <mat-icon>person_add</mat-icon>
    Зарегистрироваться
  </button>

  <button
    mat-button
    mat-dialog-close
  >
    <mat-icon>cancel</mat-icon>
    Отмена
  </button>
</div>
