@import "../../node_modules/@angular/material/theming";

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: .5;
}

.cdk-drag-preview {
  display: flex;
  width: 100%;
  @include mat-elevation(12);

  .mat-cell {
    display: flex;
    flex: 1 1 0;
  }
}
