<app-layout>
  <div class="layout_header">
    <app-flex-spacer></app-flex-spacer>
    123
    <app-flex-spacer></app-flex-spacer>
    456
    <app-flex-spacer></app-flex-spacer>
    <app-profile-menu></app-profile-menu>
  </div>
  <div class="layout_sidenav">
    <app-route-list
      [isRouteDataListLoadingSubject$]="authService.isRouteDataListLoadingSubject$"
      [routeDataList]="authService.routeDataListSubject$ | async"
    ></app-route-list>
  </div>
  <div class="layout_content">
    <router-outlet></router-outlet>
  </div>
</app-layout>
