@import "color-mixin";

.bg-warn {
  background-color: mat-color($warn-palette);
}

.text-success.text-success.text-success {
  color: mat-color($success-palette);
}

.text-warn.text-warn.text-warn.text-warn.text-warn {
  color: mat-color($warn-palette);
}
