<div class="height-filler" style="height:100%">
  <div class="height-filler__row">
    <mat-form-field class="w-100">
      <mat-label>
        <span matPrefix>&nbsp;</span>
        <mat-icon matPrefix>search</mat-icon>
        <!-- todo вынести в localizationService -->
        Поиск
      </mat-label>
      <input
        [formControl]="searchTextFC"
        [matAutocomplete]="matAutocomplete"
        matInput
        type="search"
      >
    </mat-form-field>

    <mat-autocomplete
      #matAutocomplete="matAutocomplete"
      autoActiveFirstOption
      class="custom-scrollbar"
      panelWidth="auto"
    >
      <mat-option
        *ngFor="let searchResult of searchResultListBS$ | async"
        [value]="searchResult"
      >{{searchResult | json}}</mat-option>
    </mat-autocomplete>
  </div>
  <div class="height-filler__row-rest-height">
    <mat-nav-list>
      <app-route-list-item
        *ngFor="let dataObject of dataSource.dataObjectTreeBS$ | async"
        [dataObject]="dataObject"
        [routeListComponent]="this"
      ></app-route-list-item>
    </mat-nav-list>
  </div>
</div>
