<mat-form-field
  class="w-100"
>
  <span matPrefix>&nbsp;</span>
  <mat-icon matPrefix>search</mat-icon>
  <span matPrefix>&nbsp;</span>
  <mat-label
    i18n="route list search placeholder|Route list search placeholder@@routeListSearchPlaceholder"
  >Search</mat-label>
  <input
    [formControl]="searchStringFormControl"
    [matAutocomplete]="matAutocomplete"
    matInput
    type="search"
  >
  <mat-autocomplete
    #matAutocomplete="matAutocomplete"
    [autoActiveFirstOption]="true"
  >
    <ng-container
      *ngFor="let routeData of (mediaQueryObserverService.matchesMediumQuerySubject$ | async) ? routeDataListFlat : []"
    >
      <mat-option
        (onSelectionChange)="selectOption($event, routeData)"
        *ngIf="routeData.matchesSearchRegExp$ | async"
        [value]="routeData.textTranslatedSubject$ | async"
      >
        <mat-icon
          *ngIf="routeData.iconKey"
          aria-label="Navigation route icon"
        >
          {{ routeData.iconKey }}
        </mat-icon>

        {{ routeData.textTranslatedSubject$ | async }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>

<app-route-list-recursive
  [routeDataList]="routeDataList"
  [searchRegExpSubject$]="searchRegExpSubject$"
></app-route-list-recursive>
