<div class="h-100 height-filler">
  <div class="height-filler__row">
    <mat-toolbar
      class="layout__toolbar"
      [color]="dataSource && dataSource.getMatToolBarColorContinuous$ ? (dataSource | getMatToolBarColorContinuous$Pure | async) : 'primary'"
    >
      <ng-container *ngTemplateOutlet="headerTemplateRef"></ng-container>
    </mat-toolbar>
  </div>

  <mat-sidenav-container
    [ngClass]="dataSource && dataSource.getSideNavContainerNgClassContinuous$ ? (dataSource | getSideNavContainerNgClassContinuous$Pure | async) : null"
    autosize
    class="height-filler__row-rest-height"
  >

    <mat-sidenav
      #leftSidenav
      [disableClose]="!(mediaQueryObserverService.isHandset$ | async)"
      [mode]="(mediaQueryObserverService.isHandset$ | async) ? 'over' : 'side'"
      [opened]="true"
      position="start"
      role="navigation"
    >
      <ng-container *ngTemplateOutlet="leftSidenavTemplateRef"></ng-container>
    </mat-sidenav>

    <mat-sidenav
      #rightSidenav
      [disableClose]="!(mediaQueryObserverService.isHandset$ | async)"
      [mode]="(mediaQueryObserverService.isHandset$ | async) ? 'over' : 'side'"
      [opened]="true"
      position="end"
      role="navigation"
    >
      <ng-container *ngTemplateOutlet="rightSidenavTemplateRef"></ng-container>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngTemplateOutlet="contentTemplateRef"></ng-container>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
