{{ searchRegExpSubject$ | async }}
<mat-nav-list>
  <div
    *ngFor="let routeData of routeDataList"
    [ngClass]="routerLink.isActive ? 'active' : ''"
  >
    <a
      #routerLink="routerLinkActive"
      [ngClass]="{hidden: !(routeData.matchesSearchRegExpSubject$ | async)}"
      [routerLink]="routeData.route"
      mat-list-item
      routerLinkActive="active"
    >
      <ng-container
        *ngIf="routeData.iconKey"
      >
        <mat-icon aria-label="Navigation route icon">{{ routeData.iconKey }}
        </mat-icon>
        &nbsp;
      </ng-container>

      <app-route-translation
        [routeData]="routeData"
      ></app-route-translation>
    </a>

    <div
      *ngIf="routeData.childRouteList"
      [ngClass]="{hidden: !(routeData.hasFilteredChildRouteListSubject$ | async)}"
      class="route-list"
    >
      <app-route-list-recursive
        [parentRouteData]="routeData"
        [routeDataList]="routeData.childRouteList"
        [searchRegExpSubject$]="searchRegExpSubject$"
      ></app-route-list-recursive>
    </div>
  </div>
</mat-nav-list>
