@import "font-loads";
@import "theme-constructor";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.active.active.active {
  background: rgba(255, 255, 255, 0.1);
}
