<app-layout>
  <div class="layout_header">123</div>
  <div class="layout_sidenav">
    <app-input-autocompleted></app-input-autocompleted>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/home"
        routerLinkActive="active"
      >Home</a>
      <a
        mat-list-item
        routerLink="/not-found"
        routerLinkActive="active"
      >Not found</a>
    </mat-nav-list>
  </div>
  <div class="layout_content">
    <router-outlet></router-outlet>
  </div>
</app-layout>
