<app-layout
  #layout
  [contentTemplateRef]="content"
  [headerTemplateRef]="header"
  [leftSidenavTemplateRef]="leftSidenav"
  [rightSidenavTemplateRef]="rightSidenav"
></app-layout>

<ng-template #header>
  <button
    (click)="layout.leftSidenav.toggle()"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <app-flex-spacer></app-flex-spacer>
  <app-auth-menu></app-auth-menu>
  <app-locale-selection></app-locale-selection>
  <button
    (click)="layout.rightSidenav.toggle()"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</ng-template>

<ng-template #leftSidenav>
  <div class="h-100 height-filler">
    <div class="height-filler__row-rest-height">
      <app-route-list
        [dataSource]="routeListDataSource"
      ></app-route-list>
    </div>
    <div class="height-filler__row">
      left
    </div>
  </div>
</ng-template>

<ng-template #rightSidenav>
  <div class="h-100 height-filler">
    <div class="height-filler__row-rest-height">
      <app-route-list
        [dataSource]="routeListDataSource"
      ></app-route-list>
    </div>
    <div class="height-filler__row">
      right
    </div>
  </div>
</ng-template>

<ng-template #content>
  <router-outlet></router-outlet>
</ng-template>
