<app-block
  class="b--c menu"
  *ngIf="data.items"
>
  <app-block
    (touchend)="onTouch($event)"
    *ngFor="let data of data.items"
    class="menu_item"
  >
    <a
      class="a"
      routerLink="/home"
      routerLinkActive="active"
    >
      <app-block
        class="b--ns"
      >
        <span
          *ngIf="data.imgUrl"
          class="menu_item-image"
        >
          <img
            src="{{ data.imgUrl }}"
          >
        </span>

        <span class="menu_item-text">
          <i
            *ngIf="data.iClass"
            class="{{ data.iClass }}"
          ></i>
          <ng-container
            *ngIf="data.text"
          >
            {{ data.text }}
          </ng-container>
        </span>
      </app-block>
    </a>

    <app-menu
      [data]="data"
    ></app-menu>
  </app-block>
</app-block>
