@import "../block/block";
@import "../common-style/variables";

.menu {
  cursor: default;
  justify-content: center;

  &_item {
    @include block-interactive();

    &--touched {
      @include block-focus();
    }

    &-image {
      display: contents;
      text-align: center;

      & > img {
        box-shadow: 0 $shadow-offset $shadow-size 0 $color-black;
        max-width: 100%;
      }
    }

    &-image + &-text {
      margin-top: $margin;
    }
  }

  &_item > * > & {
    display: none;
    left: 0;
    margin-top: 0;
    position: absolute;
    width: calc(100% - #{2 * $margin});
    z-index: 1;
  }

  &_item > * > & > &_item > * > & {
    margin: 0;
    width: 100%;
  }

  &_item:hover > * > &,
  &_item--touched > * > & {
    display: inline-flex;
  }
}
