<table
  [dataSource]="dataSource"
  [trackBy]="dataSource.trackByFunction"
  mat-table
>
  <ng-container
    *ngFor="let columnDescription of dataSource.columnDescriptionListContinuous$ | async"
    [matColumnDef]="dataSource | getColumnCodePure: columnDescription | async"
  >
    <th
      *matHeaderCellDef
      mat-header-cell
    >
      <app-dynamic-container
        [componentType]="dataSource.headerCellComponentType"
        [input]="{columnDescription: columnDescription, dataSource: dataSource}"
      ></app-dynamic-container>
    </th>
    <td
      *matCellDef="let dataObject"
      mat-cell
    >
      <app-dynamic-container
        [componentType]="dataSource.cellComponentType"
        [input]="{columnDescription: columnDescription, dataObject: dataObject, dataSource: dataSource}"
      ></app-dynamic-container>
    </td>
  </ng-container>

  <tr
    *matHeaderRowDef="dataSource.columnCodeListContinuous$ | async; sticky: true"
    mat-header-row
  ></tr>
  <tr
    *matRowDef="let dataObject; columns: dataSource.columnCodeListContinuous$ | async;"
    mat-row
  ></tr>
</table>

<!--(click)="handleRowClick(row, $event)"-->
<!--(dblclick)="handleRowDoubleClick(row)"-->
<!--[ngClass]="{ selected: (keyToIsSelectedBS$MapBS$ | async) | getValueFromMapPure: ((dataSource | getKey$Pure: row) | async) | async }"-->
