@import "mixin-folder/active";
@import "mixin-folder/hidden";
@import "mixin-folder/w-100";

@import "font-folder/font-loads";
@import "theme/theme";

@import "partial-folder/custom-scrollbar";
@import "partial-folder/height-filler";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.active.active.active.active {
  @include active();
}

.hidden.hidden.hidden {
  @include hidden();
}

.mat-snack-bar-container.mat-snack-bar-container {
  max-width: unset;
  min-width: unset;
}

.w-100 {
  @include w-100();
}
