<mat-nav-list>
  <div
    *ngFor="let routeData of routeDataList"
    [ngClass]="routerLink.isActive ? 'active' : ''"
  >
    <a
      #routerLink="routerLinkActive"
      [routerLink]="routeData.route"
      mat-list-item
      routerLinkActive="active"
    >
      <ng-container
        *ngIf="routeData.langKey"
      >
        <mat-icon aria-label="Navigation route icon">{{ routeData.iconKey }}
        </mat-icon>
      </ng-container>

      <ng-container
        *ngIf="routeData.langKey"
        i18n="route text|Navigation text for route@@routeText"
      >{
        routeData.langKey, select,

        home-1 {Home 1}
        home-1-1 {Home 1-1}
        home-1-2 {Home 1-2}
        home-2 {Home 2}
        home-2-1 {Home 2-1}
        home-2-2 {Home 2-2}
        home-root {Home root}
        lazyPage {Lazy page}
        notFound {404}

        other {Other}
        }
      </ng-container>
    </a>

    <div
      *ngIf="routeData.childRouteList"
      class="route-list"
    >
      <app-route-list
        [routeDataList]="routeData.childRouteList"
      ></app-route-list>
    </div>
  </div>
</mat-nav-list>
