<mat-nav-list>
  <div
    *ngFor="let routeData of routeDataList"
    [ngClass]="routerLink.isActive ? 'active' : ''"
  >
    <a
      #routerLink="routerLinkActive"
      [routerLink]="routeData.route"
      mat-list-item
      routerLinkActive="active"
      [ngClass]="{hidden: !searchRegExp.value.test(translationElement.translatedText)}"
    >
      <ng-container
        *ngIf="routeData.iconKey"
      >
        <mat-icon aria-label="Navigation route icon">{{ routeData.iconKey }}
        </mat-icon>
      </ng-container>

      <app-route-translation
        #translationElement
        [langKey]="routeData.langKey"
      ></app-route-translation>
    </a>

    <div
      *ngIf="routeData.childRouteList"
      class="route-list"
    >
      <app-route-list-recursive
        [routeDataList]="routeData.childRouteList"
        [searchRegExp]="searchRegExp"
      ></app-route-list-recursive>
    </div>
  </div>
</mat-nav-list>
