<div
  class="layout"
>
  <mat-toolbar
    class="layout_menu"
    color="primary"
  >
    <button
      (click)="drawer.toggle()"
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

    <ng-content select=".layout_header"></ng-content>
  </mat-toolbar>

  <mat-sidenav-container
    autosize
    class="layout_page"
  >
    <mat-sidenav
      #drawer
      [mode]="(mediaQueryObserverService.matchesMediumQuerySubject$ | async) ? 'side' : 'over'"
      [opened]="mediaQueryObserverService.matchesMediumQuerySubject$ | async"
      cdkScrollable
      role="navigation"
    >
      <ng-content select=".layout_sidenav"></ng-content>
    </mat-sidenav>

    <mat-sidenav-content
      cdkScrollable
      class="layout_content-container"
    >
      <ng-content select=".layout_content"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
