.layout {
  height: 100%;

  &__page {
    height: calc(100% - 64px);

    @media (max-width: 599px) {
      height: calc(100% - 56px);
    }
  }

  ::ng-deep &__header {
    display: flex;
    width: 100%
  }

  ::ng-deep &__sidenav {
    height: 100%;
  }

  ::ng-deep &__sidenav-end {
    height: 100%;
  }
}
