@import "../mixin-folder/custom-scrollbar";

.height-filler {
  display: flex;
  flex-flow: column;

  &__row {
    flex: 0 1 auto;

    &-rest-height {
      flex: 1;
      min-height: 0;

      @include custom-scrollbar()
    }
  }
}
