<div
  [ngClass]="{hidden: !(authService.isSignedInSubject$ | async)}"
>
  <button
    [matMenuTriggerFor]="profileMenuSigned"
    aria-label="Toggle profile menu"
    mat-button
    type="button"
  >
    <mat-icon>person</mat-icon>
    <span>{{ authService.userNameSubject$ | async }}</span>
  </button>

  <mat-menu
    #profileMenuSigned="matMenu"
    [hasBackdrop]="true"
    [overlapTrigger]="false"
  >
    <ng-template matMenuContent>
      <button
        mat-menu-item
        (click)="router.navigateByUrl('/some-url')"
      >
        <mat-icon>settings</mat-icon>
        <span i18n="profile link text|Profile menu profile link text@@profileLink">Profile</span>
      </button>

      <button
        (click)="authService.signOut()"
        mat-menu-item
      >
        <mat-icon>exit_to_app</mat-icon>
        <span i18n="sign out action|Profile menu sign out action@@signOutAction">Sign out</span>
      </button>
    </ng-template>
  </mat-menu>
</div>

<div
  [ngClass]="{hidden: authService.isSignedInSubject$ | async}"
>
  <button
    [matMenuTriggerFor]="profileMenu"
    aria-label="Toggle profile menu"
    mat-icon-button
    type="button"
  >
    <mat-icon aria-label="Profile menu toggle button">person</mat-icon>
  </button>

  <mat-menu
    #profileMenu="matMenu"
    [hasBackdrop]="true"
    [overlapTrigger]="false"
  >
    <ng-template matMenuContent>
      <button
        mat-menu-item
        (click)="openDialog()"
      >
        <mat-icon>person_add</mat-icon>
        <span i18n="register link text|Profile menu register link text@@registerLink">Register</span>
      </button>

      <button
        (click)="authService.signIn()"
        mat-menu-item
      >
        <mat-icon>vpn_key</mat-icon>
        <span i18n="sign in action|Profile menu sign in action@@signInAction">Sign in</span>
      </button>
    </ng-template>
  </mat-menu>
</div>
