<table
  [dataSource]="dataSource | getDataListContinuous$Pure"
  [trackBy]="dataSource.trackByFunc"
  mat-table
>
  <ng-container
    *ngFor="let columnCode of dataSource | getColumnCodeListContinuous$Pure | async"
    [matColumnDef]="columnCode"
  >
    <th
      *matHeaderCellDef
      mat-header-cell
    >
      <app-dynamic-container
        [componentType]="dataSource.headerCellComponentType"
        [input]="{columnCode: columnCode, dataSource: dataSource}"
      ></app-dynamic-container>
    </th>
    <td
      *matCellDef="let dataObject"
      mat-cell
    >
      <app-dynamic-container
        [componentType]="dataSource.cellComponentType"
        [input]="{columnCode: columnCode, dataObject: dataObject, dataSource: dataSource}"
      ></app-dynamic-container>
  </ng-container>

  <tr
    *matHeaderRowDef="dataSource | getColumnCodeListContinuous$Pure | async; sticky: true;"
    mat-header-row
  ></tr>
  <ng-container
    *ngIf="dataSource.getRowNgClassContinuous$; else noNgClassRowTemplate"
  >
    <tr
      (click)="handleRowClick(dataObject, $event)"
      (dblclick)="rowDoubleClick.emit(dataObject)"
      *matRowDef="let dataObject; columns: dataSource | getColumnCodeListContinuous$Pure | async;"
      [class.selected]="(keySelectionDataSourceContinuous$ | async) | isSelectedContinuous$Pure: (dataSource | getKeyContinuous$Pure:dataObject | async) | async"
      [ngClass]="dataSource | getRowNgClassContinuous$Pure: dataObject | async"
      mat-row
    ></tr>
  </ng-container>
  <ng-template
    #noNgClassRowTemplate
  >
    <tr
      (click)="handleRowClick(dataObject, $event)"
      (dblclick)="rowDoubleClick.emit(dataObject)"
      *matRowDef="let dataObject; columns: dataSource | getColumnCodeListContinuous$Pure | async;"
      [class.selected]="(keySelectionDataSourceContinuous$ | async) | isSelectedContinuous$Pure: (dataSource | getKeyContinuous$Pure:dataObject | async) | async"
      mat-row
    ></tr>
  </ng-template>
</table>
