$color-black: #000;
$color-bottom: lightslategray;
$color-danger: brown;
$color-invisible: #eff;
$color-main: teal;
$color-success: #28a745;
$color-top: #87ceeb;
$color-warning: orange;
$color-white: #fff;

@mixin color-focused($color) {
  background-color: lighten($color, 5%);
}

@mixin bg-focused() {
  &.bg-bottom {
    @include color-focused($color-bottom);
  }

  &.bg-danger {
    @include color-focused($color-danger);
  }

  &.bg-main {
    @include color-focused($color-main);
  }

  &.bg-success {
    @include color-focused($color-success);
  }

  &.bg-top {
    @include color-focused($color-top);
  }

  &.bg-warning {
    @include color-focused($color-warning);
  }
}
